/* GENERAL */
:root {
    --dark: rgb(32, 33, 35);
    --green: rgb(24, 116, 90);
    --white: rgb(240, 240, 240);
  }
::-webkit-scrollbar { 
    display: none; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-color: var(--dark, black);
    color: var(--dark, black);
}
.container {
    width: 250px;
    padding: 30px;
    background-color: var(--white, white);
}
.form-group {
    margin-top: 15px;
}
.title {
    text-align: center;
    font-weight: 800;
}
.form-control-label {
    font-size: 14px;
}
.form-control-field {
    width: 100%;
    height: 25px;
    font-family: 'Nunito', sans-serif;
}
.submit-button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.alert-danger {
    font-size: 13px;
    line-height: 20px;
    color: rgb(230, 16, 16);
}
.alert-message {
    font-size: 13px;
    line-height: 20px;
    color: var(--dark, black);
}
.copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: var(--white, white);
}